*{
    margin:0;
    padding:0;
}

/*estilo header*/

header{
    
    overflow: hidden;
}


.navbar-brand img{
    padding:10px;
    width: 90px;
    display: inline;
    
}

#ftco-navbar{
    background-color: #f7f9fa;

}

.navbar-brand {
    
    color: #000000;
    font-weight: 800;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    
}

.nav-item a {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    
}


/*estilo index*/

.banner {
    height: 80vh;
    background-image:url(../img/cute-beagle-wearing-yellow-bow-time.jpg);
    background-size: cover;
    max-width: 100%;
    display:grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(8,1fr);
}

.banner .texto_banner {
    grid-column:7/10;
    grid-row: 2/7;
}


.banner .texto_banner h2{
    color: white;
    font-weight: 700;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}

.botones {
    margin-top: 25px;
    color: black;
    font-family: 'Roboto', sans-serif;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.3em;
    background: #f7c325;
    border: 0px;
    
}

.botones:hover {
    background: none;
    border: 1px solid #f7c325;   
    color: #f7c325;
}

@media only screen and (max-width: 500px){
    .banner .texto_banner {
        grid-column:2/9;
        grid-row: 2/9;
    }

    .banner .texto_banner h2{
        color: white;
        font-weight: 700;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
    }

    .banner {
        background-image:url(../img/cute-beagle-wearing-yellow-bow-time-responsive.jpg);
        background-repeat: no-repeat;
    }

    .banner .botones {
        margin-top: 20px;
        padding: 0.7em 1.7em;
        font-size: 10px;
                
    }
}  


@media only screen and (min-width: 500px) and (max-width: 700px){
    .banner .texto_banner {
        grid-column:7/10;
        grid-row: 2/9;
    }

    .banner .texto_banner h2{
        color: white;
        font-weight: 700;
        font-size: 35px;
        font-family: 'Roboto', sans-serif;
    }

    .banner {
        background-image:url(../img/cute-beagle-wearing-yellow-bow-time-responsive.jpg);
        background-repeat: no-repeat;
    }

    .banner .botones {
        margin-top: 20px;
        padding: 0.7em 1.7em;
        font-size: 15px;
                
    }
}  

@media only screen and (min-width: 700px) and (max-width: 950px){
    .banner .texto_banner {
        grid-column:7/10;
        grid-row: 2/9;
    }

    .banner .texto_banner h2{
        color: white;
        font-weight: 700;
        font-size: 45px;
        font-family: 'Roboto', sans-serif;
    }

    .banner {
        background-image:url(../img/cute-beagle-wearing-yellow-bow-time-responsive.jpg);
        
    }

    .banner .botones {
        margin-top: 20px;
        padding: 0.7em 1.7em;
        font-size: 15px;
                
    }
}  

/*estilo nosotros*/

#nosotros{
    position:relative;
}

.nosotros_img img{
    width:700px;
}

#nosotros_texto{
    position: absolute;
    bottom:200px;
    margin-left: 700px;
    margin-right: 100px;
}

#nosotros_texto p{
    color: black;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;

} 


#preguntas{
    position:relative;
    height: 500px;}


#preguntas_texto{
    position: absolute;
    top:100px;
    margin-left: 100px;
    margin-right: 100px;
}

#preguntas_texto p{
    color: black;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;

} 

.listado_preguntas{
    position: relative;
    left: 600px;
    top:100px;
    margin-right: 700px;
    
    
}

.listado_preguntas h4{
    color: black;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
   
}

.listado_preguntas p{
    color: black;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
   
}

.listado_preguntas #pregunta1{
    margin-top: 40px;
    margin-left: 10px;
    border-style: solid;
    border-color: #c3cfd9;
    padding:10px 10px 10px 10px;    
}
.listado_preguntas #pregunta2{
    margin-top: 40px;
    margin-left: 10px;
    border-style: solid;
    border-color: #c3cfd9;
    padding:10px 10px 10px 10px;   
}

.listado_preguntas #pregunta3{
    margin-top: 40px;
    margin-left: 10px;
    border-style: solid;
    border-color: #c3cfd9;
    padding:10px 10px 10px 10px; 
    
}

.titulo_pages{
    margin-top: 40px;
    color: orange;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    
}

/*estilo servicios*/

.ftco-section {
    padding: 2em 0;
    position: relative;
}

.block-7  {
    background-color: #f7f9fa;
}

.block-7 .img {
    height: 250px;
}
.img, .blog-img, .user-img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.block-7 .excerpt {
    margin-bottom: 0px;
    color: #f7c325;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.block-7 .price {
    margin: 0;
    padding: 0;
    display: block;
}

.block-7 .price sup {
    font-size: 24px;
    top: -1em;
    color: #b3b3b3;
}

.block-7 .price .number {
    font-size: 60px;
    font-weight: 600;
    color: #000000;
}

.block-7 .pricing-text li:nth-child(odd) {
    background: rgba(0, 0, 0, 0.05);
}

.block-7 .pricing-text li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
}
ul {
    margin-left: -20px;
}


/* FIN DE CARACTERISTICAS DE TARJETAS SERVICIOS*/

/* estilo galería*/

.galeria{
    margin-left: 500px;
   
}

.listado_fotografias{
    margin-top: 40px;
    display: inline-block;
    margin-bottom: 40px;

}

.foto{
    margin-top: 20px;
    display: inline-block;
    width: 30%;
    margin-left: 12px;
    height: 30%;
    border-radius: 6px;
    
}


.foto img {
    width: 100%;
    height: 100%;  

}

/*estilo contacto */
.contacto{
    margin-left: 500px;
}

.contacto_lista{
    margin-top: 40px;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 40px;
}

.contacto_dato {
    display: inline-block;
    width: 30%;
    margin-left: 12px;
    height: 200px;
    background: white;
    padding: .4em;
    border-radius: 6px;
}
.contacto_img {
    width: 100%;
    height: 60%;
}

.contacto_img  img {
    width: 30%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.contacto_descripcion {
    color: gray;
    font-weight: 400;
    font-size: 15px;
    padding-top: 20px;
    text-align: center;
}

.contacto_form{
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 40px;
    margin-right: 40px;
    position: relative;
    height: 400px;
}

.contacto_form p{
   text-align: center;
   color: black;
   font-weight: 400;
   font-size: 15px;
   font-family: 'Roboto', sans-serif;
}

#contacto_nombre{
    width:250px;
    height:20px;
    position: absolute;
    left:70px;
    top:40px;
 }

 #contacto_email{
    width:250px;
    height:20px;
    position: absolute;
    left:70px;
    top:90px;
 }

 #contacto_asunto{
    width:250px;
    height:20px;
    position: absolute;
    left:70px;
    top:150px;
 }

#contacto_mensaje{
    width:500px;
    height:200px;
    position: absolute;
    left:350px;
    top:30px;
 }

 #contacto_boton{
    position: absolute;
    left:650px;
    top:250px;
 }

/*estilo footer*/

footer img{
    width:40px;
}